@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkatra:wght@700&family=Bevan&family=Changa+One&family=Delicious+Handrawn&family=Josefin+Sans:wght@500&family=Kreon&family=Rowdies:wght@300&family=Titan+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
#back{
    object-fit: cover;
    position: fixed;
    width: 100vw;
    z-index: -1;
    filter: blur(0.5px);
}
#head{
font-family:'Times New Roman', Times, serif;    font-size: 2.8rem;
    color: white;
    position:relative;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 2rem;
-webkit-text-stroke: 0.5px  purple;
}
.projectlist{
margin-top: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.projectlist ul{
    display: flex;
}
.list video{
height: 40vh;
border: 5px solid rgba(128, 128, 128, 0.465);
border-radius: 30px;
padding: 3px;
width: 35vw;
margin: 5rem;
margin-bottom: 2rem;
transition: all 0.2s;
}
.list video:hover{
    box-shadow: 0 0 35px white;
    
}
.list{
color: white;
display: flex;
flex-direction: column;

}
.list a{
    text-decoration: none;
color: white;
font-family: 'Titan One', cursive;
    margin-left: 15rem;
    -webkit-text-stroke:0.1px black;
    font-size: 2rem;
}
.list a:hover{
    text-shadow:0px 0 3rem pink;
}
#foot h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3rem 0;
    color: white;
    font-family: cursive;
    -webkit-text-stroke: 1px black;
    font-size: 3rem;
    text-shadow: 0 1px 35px grey;
}
#qr{
    margin-left:13rem ;
}
@media screen and (max-width:1025px) {
    #back{
        height: 100vh;
        width: 150vw;
    }
    
}
@media screen and (max-width:1172px) {
     .list a{
      margin-left: 12rem;
    }
    #qr{
        margin-left: 8rem;
        display: flex;
    }
    
}
@media screen and (max-width:769px) {
   .list video{
    padding: 5px ;
    margin: 2rem;
    height: 30vh;
    width: 42vw;
   }
    .list a{
        font-size: 1.5rem;
        margin-left: 7rem;
    }
    #qr{
        margin-left: 5rem;
    }
}
@media screen and (max-width:600px) {
    .list a{
        font-size: 1.3rem;
        margin-left: 5rem;
    }
    #qr{
        margin-left: 3rem;
    } 
    .list{
        margin-left: 2rem;
    }
    #back{
        height: 100vh;
        
    }
    
}
@media screen and (max-width:426px) {
    .projectlist ul {
        display: flex;
        flex-direction: column;
    }
    .list video{
        width: 20rem;
    }
    #foot h2{
        font-size: 2.5rem;
    }
    .list a{
        margin-left: 8rem;
    }
    #qr{
        margin-left: 6rem;
 
    }
}
@media screen and (max-width:320px) {
    .projectlist{
        margin-left:1px;
    }
}